
.fullscreen {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'AstroSpace';
  src: url('assets/font/AstroSpace-eZ2Bg.ttf');
  font-style: normal;
}

html, body {
  overflow: hidden;
  font-family: sans-serif;
  color: #2f2f2f;
}



/* Canvas */

.container {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: radial-gradient(2200px 1800px at 50% 140%, #5dc8f2 0, #5dc8f2 20%, #181818 40%, #000000 100%); */
  background: 
    radial-gradient(2200px 1800px at 50% 140%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
    linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  border-radius: 10px;
}

.canvas {
  border-radius: 10px;
}

.info-container {
  background-color: #171717b0;
  height: auto;
  width: 100%;
  max-width: fit-content;
  margin: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  border-radius: 8px;
  padding: 30px 20px;
  color: #faebd7;
}

h3 {
  font-family: 'AstroSpace', sans-serif;
  margin: 0px;
}

p {
  font-size: 11px;
  margin: 0px;
  font-weight: 400;
}

.stats-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.distance-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90px;
}

.distance {
  font-family: 'AstroSpace', sans-serif;
  margin: 0px;
  font-size: 22px;
}

.hit-points-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90px;
  border-left: 1px solid #faebd7;
  padding-left: 10px;
}