
.fullscreen {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

html, body {
  overflow: hidden;
  font-family: 'Lunarie', sans-serif;
  color: #2f2f2f;
}



/* Canvas */

.container {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: radial-gradient(2200px 1800px at 50% 140%, #5dc8f2 0, #5dc8f2 20%, #181818 40%, #000000 100%); */
  background: 
    radial-gradient(2200px 1800px at 50% 140%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
    linear-gradient(90deg, #9E84C5 0%, #9E84C5 40%, #5dc8f2 100%);
  border-radius: 10px;
}

.canvas {
  border-radius: 10px;
}

.distance-container {
  position: absolute;
  top: 10px;
  left: 40px;
  z-index: 10;
  width: fit-content;
}

.distance {
  font-size: 30px;
  color: antiquewhite;
}
