
.fullscreen {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@font-face {
  font-family: 'Blomberg';
  src: url('assets/font/Blomberg-8MKKZ.otf');
  font-style: normal;
}

html, body {
  overflow: hidden;
  font-family: sans-serif;
  color: #2f2f2f;
}



/* Canvas */

.container {
  width: calc(100vw - 15px);
  height: calc(100vh - 15px);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: 
    radial-gradient(2200px 1800px at 50% 140%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
    linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  border-radius: 10px;
}
@media (max-height: 850px) {
  .container {
    background: 
      radial-gradient(2200px 1800px at 50% 150%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  }
}
@media (max-height: 750px) {
  .container {
    background: 
      radial-gradient(2100px 1800px at 50% 160%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  }
}
@media (max-height: 690px) {
  .container {
    background: 
      radial-gradient(2000px 1800px at 50% 170%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  }
}
@media (max-height: 630px) {
  .container {
    background: 
      radial-gradient(1800px 1800px at 50% 180%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  }
}
@media (max-height: 580px) {
  .container {
    background: 
      radial-gradient(1700px 1800px at 50% 190%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  }
}
@media (max-height: 530px) {
  .container {
    background: 
      radial-gradient(1600px 1800px at 50% 200%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 60%, #5dc8f2 100%);
  }
}
@media (max-height: 480px) {
  .container {
    background: 
      radial-gradient(1500px 1800px at 50% 220%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 50%, #5dc8f2 100%);
  }
}
@media (max-height: 430px) {
  .container {
    background: 
      radial-gradient(1400px 1800px at 50% 235%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 50%, #5dc8f2 100%);
  }
}
@media (max-height: 390px) {
  .container {
    background: 
      radial-gradient(1300px 1800px at 50% 250%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 50%, #5dc8f2 100%);
  }
}
@media (max-height: 350px) {
  .container {
    background: 
      radial-gradient(1200px 1800px at 50% 270%, #ffffff 0, #ffffff 27%, #ffffff00 36%, #181818 40%, #000000 100%),
      linear-gradient(90deg, #9E84C5 0%, #9e84c5 50%, #5dc8f2 100%);
  }
}

.canvas {
  border-radius: 10px;
}



/* Game Info */

.game-info-container {
  width: 100%;
  max-width: fit-content;
  margin: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.info-container {
  background-color: #171717b0;
  height: auto;
  width: 100%;
  max-width: fit-content;
  border-radius: 8px;
  padding: 30px 20px;
  color: #faebd7;
}

h3 {
  font-family: 'Blomberg', sans-serif;
  margin: 0px;
  font-size: 28px;
}

p {
  font-size: 11px;
  margin: 0px;
  font-weight: 400;
}

.stats-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.distance-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90px;
}

.hit-points-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90px;
  border-left: 1px solid #faebd7;
  padding-left: 20px;
}

.stats {
  font-family: 'Blomberg', sans-serif;
  margin: 0px;
  font-size: 22px;
}

.hit-points-progress-container {
  width: 15px;
  height: 160px;
  background-color: #faebd7;
  border-radius: 4px;
  border: 1px solid #ffffff;
  position: relative;
}

.hit-points-progress-bar {
  width: 100%;
  height: 1%;
  background-color: #5dc8f2;
  position: absolute;
  bottom: 0px;
}

.play-again-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 100%;
  max-width: 270px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  padding: 30px 20px;
  color: #faebd7;
  text-align: center;
  display: none;
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





@media (max-width: 500px) {
  .container {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    transform: none;
    border-radius: 0px;
  }
  
  .canvas {
    border-radius: 0px;
  }

  .game-info-container {
    margin: 5px;
  }

  h3 {
    font-size: 22px;
  }
  
  .stats-container {
    gap: 15px;
  }

  .distance-container {
    width: 70px;
  }

  .hit-points-container {
    width: 70px;
  }

  .stats {
    font-size: 18px;
  }

  .hit-points-progress-container {
    width: 10px;
    height: 140px;
    border-radius: 3px;
  }

  .play-again-container {
    max-width: 180px;
    padding: 20px 15px;
  }
}
@media (max-height: 500px) {
  .game-info-container {
    height: 100%;
    flex-direction: column;
    margin: 5px;
  }

  .info-container {
    padding: 20px 15px;
  }

  .info-container h3 {
    display: none;
  }

  .stats-container {
    margin-top: 0px;
  }

  .hit-points-progress-container {
    height: calc(100% - 140px);
  }
}